{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "sourceType": "module"
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["react-hooks"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": ["off"],
    "max-len": ["off"],
    "no-return-assign": ["off"],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "react-hooks/exhaustive-deps": ["off"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
